@import url('reset.css');

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
}
.feature {
    padding: 120px 0;
    background: #D8D8D6;
    }
    .feature-title {
    margin-bottom: 50px;
    font-size: 32px;
    text-align: center;
    }
    .feature-cards {
    display: flex;
    gap: 30px;
    }
    .feature-card {
        flex: 1 1 30%;
        border-radius: 6px;
        background: #81A36B;
        padding: 15px 15px 40px;
        position: relative;
    }
    .feature-card img{
        height: 402px;
        width: 100%;
        object-fit: cover;
        border-radius: 6px;
        margin-bottom: 23px;
    }
    .feature-card-title{
        font-size: 18px;
        text-align: center;
    }
    .feature-card p {
        background-color: #7fff9f63;
        width: 100%;
        height: 200px;
        font-size: 20px;
        padding: 20px;
        position: absolute;
        top: 33%;
        left: 0;
        right: 0;
        overflow: hidden;
        overflow: auto;
        display: none;
    }
    .feature-card:hover p {
        display: block;
    }